.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body .container-fluid {
  background-image: linear-gradient(rgb(243, 117, 117), rgb(0, 247, 255));

  height: 100vh;
  .home, .feedback, .making, .profile{
    background-color: #282c34;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: '100px';
    width: '100px';
    color : 'red';
  }
}
